<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="books">
        <h2>Books</h2>
            {{#each books}}
            <li>
                <figure>
                    <img src="{{url}}" alt="{{title}} book cover">
                </figure>
                <div>
                    <h3>{{title}}</h3>
                    <span class="genre">{{genre}}</span>
                    <p>{{description}}</p>
                    <a href="/books/delete/{{id}}">Remove</a>
                </div>
            </li>
            {{/each}}
            <a href="books/new">Add a Book</a>
    </section>
</body>
</html>